.page {
    background-color: rgba(234, 234, 234, 1);
    max-width: 1440px;
    min-width: 768px;
    font-family: 'Montserrat', Verdana, sans-serif;
    padding: 0 10%;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}