.footer__icon {
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.footer__icon:hover {
    opacity: 0.7;
}