.item__new-price {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: rgba(255, 165, 66, 1);
    padding: 0;
    margin-bottom: 0;
}

.item__new-price::after {
    content: " ₽"
}